.container {
    background-image: 
    url("https://images6.alphacoders.com/812/thumb-1920-812301.jpg");
    width: 1900px;
    height: 1200px;
}


body {
    font-family: "Merriweather";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
  }