.container {
    background-image: 
    url("https://images6.alphacoders.com/812/thumb-1920-812301.jpg");
    width: 1024px;
    height: 1080px;
    text-align: center;
    align-items: center;
    display: inline-block;
}

.container2 {
  display: inline-block;
  text-align: center;
  margin: 30px;
}

body {
    font-family: "Merriweather";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
  }

  .icono-wix {
      background-image: url("https://static.wixstatic.com/media/2172ee_1b759817e2fc48dca08d1f7d510ef437.png/v1/fill/w_120,h_32,al_c,q_85/2172ee_1b759817e2fc48dca08d1f7d510ef437.webp");
      width: 120px;
      height: 32px;
  }

  .texto-free {
      font-family: "Merriweather";
      font-size: 50px;
      align-items: center;
      text-align: center;
      display: block;
  }

  .texto-secundario {
    font-family: "Merriweather";
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: block;
  }

  .boton {
    text-decoration: none;
    padding: 10px;
    width: 100px;
    font-weight: 40;
    font-size: 20px;
    color: #000000;
    background-color: #a718ba;
    border-radius: 20px;
    border: 0px solid #0016b0;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .boton:hover {
    background-image: linear-gradient(to bottom right, rgb(215, 18, 233), rgb(235, 110, 218));
  }

  div.element {
      display: inline-block;
      border-right: 1px solid rgb(96, 96, 97);
      border-width: 2px;
      padding: 20px;
      align-items: center;
  }

  div.element:last-child{
    border-right: none;
}

.container3 {
    display: inline;
    text-align: center;
    margin: 30px;
}

.master-container {
  text-align: center;
}

a {
  text-decoration: none;
}


img.imagen {
  width: 300px;
  height: 300px;
  opacity: 100%;
}

.imgwrapper:hover img {
  opacity: 30%;
}

.imgwrapper p {
  display: none;
 
}


.imgwrapper:hover p {
  text-align: center;
  font-weight: bold;
  width: 160px;
  height: 160px;
  display:  block;
  margin-top: -100px;
  margin-left: 60px;
}

.containerimg {
  display: inline-block;
}